body{
    background-color: lightcyan;
    animation: bgColorChange 10s ease-in-out infinite;
}

.buttonStyle{
    margin-top:15px;
    margin-right:15px;
}

.buttonStyle{
    margin-top:15px;
}

.inputRow{
    margin-top:10px;
}

@keyframes bgColorChange {
    0%   {background-color: lightcyan(21, 231, 21);}
    25%  {background-color: lightblue;}
    50%  {background-color: rgb(109, 168, 223);}
    75%  {background-color: lightblue;}
    100% {background-color: lightcyan(21, 231, 21);}
  }