body {
    background-color: whitesmoke;
}

#gameContainer {
    
    position: absolute;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 400px;
    /* Translate just moves the board(in this case to center of scren
        rotate rotates the board
        Skew is the main thing thatll angle the board how we want.
    */
    transform:  translate(-50%, -50%)rotate(-40deg) skewX(30deg) skewY(10deg);
}

#buttonDiv{
    background-color: lightblue;
    width: 10%;
}

p {
    text-align: center;
}

.tile{
    border-radius: 25px;
    width: 99.5px;
    height: 99.5px;
    background-color: black;
    /* text-align:center; */
    /* position : relative; */
}

#rollNumber{
    padding-left: 15px;
}

#player1Image {
    border:0;
    width: 80px;
    height:80px;
    /* transform: translateY(30px);  */
    /* transform: /*translate(30px, -100px) skew(-50deg) ;  */
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
	 /* animation: float 6s ease-in-out infinite;  */
}

#player1{
    /* width: 90px;
    height: 90px; */
    position: absolute;
    transform: translate(70px, -40px) skew(-50deg); 
    animation: floatOne 0.8s ease-in-out infinite;   
}


#player2Image {
    border:0;
    width: 80px;
    height:80px;
   
    /* transform: translateY(30px);  */
    /* transform: /*translate(30px, -125px) skew(-50deg) ; */
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
     /* animation: float 6s ease-in-out infinite;  */
      
}

#player2{
    /* width: 90px;
    height: 90px; */
    position:absolute;
    transform: translate(50px, -50px) skew(-50deg) ; 
    animation: floatTwo 0.5s ease-in-out infinite; 
}

#player3Image {
    border:0;
    width: 80px;
    height:80px;
    

    /* transform: translateY(30px);  */
    /* transform: /*translate(70%, -50%) skew(-50deg) ; */
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    /* animation: float 6s ease-in-out infinite; */
      
}

#player3{
    /* width: 90px;
    height: 90px; */
    position: absolute;
    transform: translate(50px, -70px) skew(-50deg);  
    animation: floatThree 1s ease-in-out infinite;
}

#player4Image {
    border:0;
    width:80px;
    height:80px;

    /* transform: translateY(30px);  */
    /* transform: translate(70%, -40%) skew(-50deg) ; */
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    /* animation: float 6s ease-in-out infinite; */
      
}

#player4{
    position: absolute;
    /* width: 100px;
    height: 100px; */
    transform: translate(50px, -90px) skew(-50deg);  
    animation: floatFour 0.3s ease-in-out infinite; 
}



@keyframes floatOne {
    0%, 100% {
        left: 0;
      }
      50% {
        left: 01%;
      }
}

@keyframes floatTwo {
    0%, 100% {
        left: 0;
      }
      50% {
        left: 01%;
      }
}

@keyframes floatThree {
    0%, 100% {
        left: 0;
      }
      50% {
        left: 01%;
      }
}

@keyframes floatFour {
    0%, 100% {
        left: 0;
      }
      50% {
        left: 01%;
      }
}

