body {
    background-color: lightcyan;
}

#gameContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500.5px;
    height: 500.5px;
    transform:  translate(-10%, -60%)rotate(-40deg) skewX(30deg) skewY(10deg);
}

#gamePlayerTable{
    border-radius: 25px;
}

#winnerName{
    text-align:center;
}

#winnerDiv{
    display:none;
    border-radius: 25px;
    animation: winnerDivColorChange 4s infinite;
}

th{
    text-align:center;
}

h6 {
    text-align: center;
}

.space{
    width: 100%;
    height: 25%;
}

.tile{
    border-radius: 25px;
    width: 125px;
    height: 125px;
    background-color:rgb(4, 165, 4);
}

.displayImage{
    display:block;
    margin:auto;
    height: 50%x;
    width: 50%;
}

#rollRow, #homeButtonRow, #buyingRow{
    margin-left:10px;
}

#buySpaceDiv, #switchPlayerDiv{
  margin-top:10px;
  visibility: hidden;
}

#homeButtonRow{
  margin-top:40px;
}

.tree{
    transform: translate(80px, -100px) skew(-50deg); 
}

.treeImage{
    width:100%;
    height:100%;
}

#homeButtonDiv{
    margin-top:20px;
}

#rollNumber{
    text-align: center;
    
}

#rollNumberTextDiv{
    border-radius: 25px;
    background-color: lightblue;
}

#player1Image {
    display:block;
    margin:auto;
    border:0;
    width: 80px;
    height:80px;

    -webkit-animation: jump 1s ease 0s infinite normal ;
    animation: jump 1s ease 0s infinite normal ;
}

.imgClass:hover {
   
    transform: rotate(360deg);
  }

#player1{
    transform: translate(70px, -100px) skew(-50deg); 
}


#player2Image {
    display:block;
    margin:auto;
    border:0;
    width: 80px;
    height:80px;

    -webkit-animation: jump 2s ease 0s infinite normal ;
    animation: jump 2s ease 0s infinite normal ;
     box-shadow: 0 5px 15px 0px rgba(0,0,0,0); 
     /* animation: float 6s ease-in-out infinite;  */
}

#player2{
    transform: translate(70px, -100px) skew(-50deg); 
}

#player3Image {
    display:block;
    margin:auto;
    border:0;
    width: 80px;
    height:80px;

    -webkit-animation: jump 1.5s ease 0s infinite normal ;
    animation: jump 1.5s ease 0s infinite normal ;
}

#player3{
    transform: translate(70px, -90px) skew(-50deg);  
}

#player4Image {
    display:block;
    margin:auto;
    border:0;
    width:80px;
    height:80px;

    -webkit-animation: jump 1.75s ease 0s infinite normal ;
    animation: jump 1.75s ease 0s infinite normal ;
}

#player4{
    transform: translate(70px, -90px) skew(-50deg);  
}

.tree:hover{
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  
}

@keyframes floatOne {
    0%, 100% {
        top: 0;
      }
      50% {
        bottom: 100%;
      }
}

@keyframes floatTwo {
    0%, 100% {
        left: 0;
      }
      50% {
        left: 01%;
      }
}

@keyframes floatThree {
    0%, 100% {
        left: 0;
      }
      50% {
        left: 01%;
      }
}

@keyframes floatFour {
    0%, 100% {
        left: 0;
      }
      50% {
        left: 01%;
      }
}
@keyframes winnerDivColorChange {
    0%   {background-color: rgb(21, 231, 21);}
    25%  {background-color: yellowgreen;}
    50%  {background-color: green;}
    100% {background-color: rgb(21, 231, 21);}
  }

  @-webkit-keyframes jump {
    0%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    20%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40%{
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    50%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    60%{
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
    80%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes jump {
    0%{
      transform: translateY(0);
    }
    20%{
      transform: translateY(0);
    }
    40%{
      transform: translateY(-30px);
    }
    50%{
      transform: translateY(0);
    }
    60%{
      transform: translateY(-15px);
    }
    80%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(0);
    }
  }

  @keyframes shake {
    10%, 90% {
      transform: translate(80px, -100px) skew(-50deg); 
    }
    
    20%, 80% {
      transform:translate(82px, -100px) skew(-50deg); 
    }
  
    30%, 50%, 70% {
      transform: translate(83px, -100px) skew(-50deg); 
    }
  
    40%, 60% {
      transform: translate(80px, -100px) skew(-50deg); 
    }
  }